name: Deploy with Kustomize

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v1

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v1

      - name: Deploy to Kubernetes
        run: |
          kustomize build ./overlays/prod/ | kubectl apply -f -
